{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "entry",
        "corejs": "3.6.4"
      }
    ],
    "@babel/preset-typescript"
  ],
  "exclude": "node_modules/**"
}
